<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>About Us</h1>
            <h2>... we are awesome folks!</h2>
        </div>
<div class="content">
            
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum 
            varius libero in libero mollis congue. Phasellus fringilla est sed porta 
            fermentum. Pellentesque in pretium nisl, malesuada tristique dui. 
            Pellentesque varius eleifend purus vitae aliquet. Praesent elementum 
            lacus ut laoreet fermentum. Duis nulla enim, egestas ut metus sit amet, 
            efficitur aliquam sem. Curabitur auctor cursus ultrices. Quisque 
            interdum dolor est, in volutpat quam egestas non. Nunc vel risus 
            non magna convallis pretium ac non lectus. Aliquam hendrerit mollis 
            hendrerit. 
            </p>

            
        </div>
        <% include partial/footer %>

<% include partial/end %>