<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Members Only Area</h1>
            <h2>... Welcome, trusted user!</h2>
        </div>
<div class="content">
            
  <p>
    There is a bottle of bourbon in the leftmost pillar of Giddings Hall.
  </p>

            
        </div>
        <% include partial/footer %>

<% include partial/end %>