<% include partial/head %>
<% include partial/header %>
<div class="header">
            <h1>Sorry!</h1>
            <h2>... login attempt failed!</h2>
        </div>
<div class="content">
            
  <p>
    If you like you can <a href="/login">try again</a>.
  </p>

            
        </div>
        <% include partial/footer %>
        <% include partial/scripts %>

<% include partial/end %>